@use 'sass:map';
@use './variables' as *;

@mixin respond-to($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn 'No value found for breakpoint: #{$breakpoint}';
  }
}
