$color-dark-bg: #2B2B2B;
$color-dark-surface: #373737;
$color-dark-text: #FFFFFF;
$color-accent: #8D54FF;

$color-light-bg: #F8F8F8;
$color-light-surface: #FFFFFF;
$color-light-text: #070416;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);
